html, body, #root {
    height: 100%;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.divicon-aircraft-info div {
    font-family: Lucida Console;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    font-weight: bold;
    width: 100px;
    padding: 0 4px;
}

.divicon-aircraft-info.right div {
    text-align: right;
}

.divicon-aircraft-info.me div {
    color: darkblue;
}
