@model FlightEvents.Web.Logics.DiscordLoginResult

<p>Hello @Model.User.Username#@Model.User.Discriminator, please enter the following link code to Flight Event client and press Confirm button.</p>
<strong>@Model.ConfirmCode</strong>
<p><em>Note: do not disclose the code to others</em></p>