name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Build with dotnet
      run: dotnet build --configuration Release

  package-web:
    runs-on: [windows-latest]
    name: Create Web package
    needs: [build]
    steps:
      - uses: actions/checkout@v2
      - name: Publish with dotnet
        run: dotnet publish --configuration Release --output publish-web FlightEvents.Web
      - name: Collect artifact
        uses: actions/upload-artifact@1.0.0
        with:
          name: Website package
          path: publish-web

  publish-web:
    runs-on: [windows-latest]
    name: Publish Web package
    needs: [build]
    steps:
      - uses: actions/checkout@v2
      - name: Overwrite Secrets
        run: echo 'export const MAPBOX_API_KEY = "${{ secrets.MAPBOX_API_KEY }}"' > FlightEvents.Web/ClientApp/src/Constants.ts
      - name: Publish with dotnet
        run: dotnet publish --configuration Release --output publish-web FlightEvents.Web
      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Azure WebApp
        uses: Azure/webapps-deploy@v2
        with:
          app-name: flightevents
          package: publish-web
          
  package-client:
    runs-on: [windows-latest]
    name: Package Client
    needs: [build]
    steps:
      - uses: actions/checkout@v2
      - name: Publish with dotnet
        run: dotnet publish --configuration Release --output publish-client --runtime win-x64 --self-contained true /p:PublishSingleFile=true /p:PublishReadyToRun=true FlightEvents.Client
      - name: Copy extra content
        run: |
          copy FlightEvents.Client/appsettings.Release.json publish-client/appsettings.json
          copy FlightEvents.Client/README.txt publish-client/README.txt
          dir publish-client
      - name: Collect build artifact
        uses: actions/upload-artifact@1.0.0
        with:
          name: FlightEvents.Client
          path: publish-client      
      - name: Collect version artifact
        uses: actions/upload-artifact@1.0.0
        with:
          name: versions.json
          path: FlightEvents.Client/versions.json
  
  publish-client:
    runs-on: [ubuntu-latest]
    name: Publish Client
    needs: [package-client]
    steps:
      - name: Download build artifact
        uses: actions/download-artifact@1.0.0
        with:
          name: FlightEvents.Client
          path: publish-client/
      - name: Download version artifact
        uses: actions/download-artifact@1.0.0
        with:
          name: versions.json
          path: .
      - name: Zip Release
        uses: nguyenquyhy/zip-release@v0.3.0
        with:
          filename: ../FlightEvents.Client.zip
          path: .
          workingDirectory: publish-client/
      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Upload FlightEvents.Client.zip via Azure CLI
        uses: Azure/cli@v1.0.0
        with:
          inlineScript: az storage blob upload --account-name flightevents --container-name downloads --file FlightEvents.Client.zip --name FlightEvents.Client.zip
      - name: Upload versions.json via Azure CLI
        uses: Azure/cli@v1.0.0
        with:
          inlineScript: az storage blob upload --account-name flightevents --container-name downloads --file versions.json --name versions.json
